.main-menu {
    margin: 0 0 20px 0;
    padding: 0 0 20px;
    list-style-type: none;
}

.main-menu li {
    display: inline-block;
    margin-right: 10px;
}

.main-menu a {
    text-decoration: none;
    color: #000000;
}

.main-menu__item {
    padding: 5px 10px;
    border-radius: 3px;
}

.active {
    background-color: rgb(233, 233, 233);
}