form {
    width: 300px;
    height: 200px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}

input {
    border: 1px solid #dedede;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button {
    background-color:  #23C38B;
    border: none;
    width: 100px;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}